*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

.container{
    display:flex;
    width: 90vw;
}

.container .panel:nth-child(1){
    background-image: url("../img/1.jpg");
}
.container .panel:nth-child(2){
    background-image: url("../img/2.jpg");
}
.container .panel:nth-child(3){
    background-image: url("../img/3.jpg");
}
.container .panel:nth-child(4){
    background-image: url("../img/4.jpg");
}
.container .panel:nth-child(5){
    background-image: url("../img/5.jpg");
}

.panel{
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    height: 85vh;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    flex: 0.5;
    margin:10px;
    transition: all 0.7s ease-in;
    position: relative;
}

.panel h3{
    font-size: 24px;
    padding-top:580px;
    position: absolute;
    left: 0;
    bottom:0;
    opacity: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s
}